In [2]:
import pandas as ps
import numpy as nm
from sklearn import linear_model

In [3]:
ds = ps.read_csv("carprices.csv")
dp = ps.get_dummies(ds.Car_Model)
merged = ps.concat([ds,dp],axis="columns")
final = merged.drop(['Car_Model','Mercedez Benz C class'],axis="columns")
final

    Mileage  Sell_Price  Age  Audi A5  BMW X5
0     69000       18000    6        0       1
1     35000       34000    3        0       1
2     57000       26100    5        0       1
3     22500       40000    2        0       1
4     46000       31500    4        0       1
5     59000       29400    5        1       0
6     52000       32000    5        1       0
7     72000       19300    6        1       0
8     91000       12000    8        1       0
9     67000       22000    6        0       0
10    83000       20000    7        0       0
11    79000       21000    7        0       0
12    59000       33000    5        0       0

In [5]:
y = final.drop(['Sell_Price'],axis='columns')
x=final.Sell_Price
x

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell_Price, dtype: int64

In [6]:
reg = linear_model.LinearRegression()
reg.fit(y,x)
reg.predict([[75000,7,0,1]])

c:\Users\ragha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15152.08617046])

In [8]:
reg.score(y,x)

0.9417050937281083