In [8]:
import pandas as ps
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from word2number import w2n

In [16]:
ds = ps.read_csv("HR_comma_sep.csv")
ds = ds.drop(['Department','salary'],axis='columns')
ds

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
0,0.38,0.53,2,157,3,0,1,0
1,0.80,0.86,5,262,6,0,1,0
2,0.11,0.88,7,272,4,0,1,0
3,0.72,0.87,5,223,5,0,1,0
4,0.37,0.52,2,159,3,0,1,0
...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0
14995,0.37,0.48,2,160,3,0,1,0
14996,0.37,0.53,2,143,3,0,1,0
14997,0.11,0.96,6,280,4,0,1,0
14998,0.37,0.52,2,158,3,0,1,0

In [21]:
x = ds.drop(['left'],axis='columns')
y = ds.left

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
y_test

1710     1
12990    0
3842     0
14508    1
7887     0
        ..
11882    0
711      1
7989     0
13210    0
3007     0
Name: left, Length: 3000, dtype: int64

In [31]:
reg = linear_model.LogisticRegression()
reg.fit(x_train,y_train)
reg.predict(x_test)

c:\Users\ragha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [32]:
reg.score(x_test,y_test)

0.7546666666666667

In [10]:
from sklearn import datasets
import matplotlib.pyplot as pylot
from sklearn.model_selection import train_test_split
from sklearn import linear_model
digits = datasets.load_iris()
x_train,x_test,y_train,y_test = train_test_split(digits.data,digits.target,test_size=0.2)
reg = linear_model.LogisticRegression()
reg.fit(x_train,y_train)
reg.predict(x_test)

array([1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 0, 0, 1, 2, 0, 1, 0, 0, 1, 2,
       2, 0, 1, 1, 0, 2, 1, 2])